<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="/static/js/index.js" type="text/javascript"></script>
	<link media="all" rel="stylesheet" href="/static/css/index.css" type="text/css" />
</head>
<body>
	<img src="/static/img/test.jpg" alt="" />
	{{ testVar }}
	<div>This is a div block</div>
	{% if test %}
		<div>This is true</div>
	{% else %}
		<div>This is not true , this is false</div>
	{% endif %}
	{% for asss in as %}
	{% endfor %}
</body>
</html>
